/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

#mainPane{
	-fx-background-color: gray;
}
.jfx-slider > .slider-value {
     -fx-fill: red;
     -fx-stroke: black;
}
.jfx-slider > .thumb {
     -fx-background-color: white;
}
.jfx-slider > .colored-track {
     -fx-background-color: white;
}
.jfx-slider > .animated-thumb {
     -fx-background-color: black;
     
}
.buttonPlay{
	 -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#61a2b1, #2A5058);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-background-color: transparent;
}

.button:hover{
    -fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-background-radius: 3px, 3px, 2px, 1px;
    -fx-padding: 0.333333em 0.666667em 0.333333em 0.666667em; /* 4 8 4 8 */
    -fx-text-fill: -fx-text-base-color;
    -fx-alignment: CENTER;
    -fx-content-display: LEFT;
}
.menu-item .label {
    -fx-text-fill: white;
}

.menu-item:focused {
     -fx-background-color: white;
}
.menu-item:focused .label {
    -fx-text-fill: black;
}

.menu-item {
 
    -fx-background-color: black;
    -fx-text-fill: white;
}