/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

#mainPane{
	-fx-background-color: gray;
}
.jfx-slider > .slider-value {
     -fx-fill: red;
     -fx-stroke: black;
}
.jfx-slider > .thumb {
     -fx-background-color: white;
}
.jfx-slider > .colored-track {
     -fx-background-color: white;
}
.jfx-slider > .animated-thumb {
     -fx-background-color: black;
     
}
.buttonPlay{
	 -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#61a2b1, #2A5058);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-background-color: transparent;
}

.menu-item .label {
    -fx-text-fill: white;
}

.menu-item:focused {
     -fx-background-color: white;
}
.menu-item:focused .label {
    -fx-text-fill: black;
}

.menu-item {
 
    -fx-background-color: black;
    -fx-text-fill: white;
}